.admin {
  padding-bottom: 100px;

  .about__content {
    h3 {
      font-family: Quicksand;
      font-size: 24px;
      font-weight: 700;
      line-height: 28.8px;
      text-align: left;
      color: #3bb77e;
      max-width: 1400px;
      margin: 50px auto 40px;
    }
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;

      gap: 30px;
      max-width: 1400px;
      text-align: center;
      .col1 {
        h2 {
          font-family: Quicksand;
          font-size: 48px;
          font-weight: 700;
          line-height: 57.6px;
          text-align: left;
          color: #253d4e;
          margin-bottom: 30px;
        }
        p {
          font-family: Lato;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          color: #7e7e7e;
          margin-bottom: 25px;
        }
      }
      .col2 {
        h4 {
          font-family: Quicksand;
          font-size: 20px;
          font-weight: 700;
          line-height: 24px;
          text-align: left;
          margin-bottom: 22px;
        }
        p {
          font-family: Lato;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          color: #7e7e7e;
          margin-bottom: 27px;
        }
      }
    }
    .office {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      max-width: 1400px;
      margin: 0 auto 60px;
      .card {
        max-width: 240px;
        h4 {
          font-family: Quicksand;
          font-size: 24px;
          font-weight: 700;
          line-height: 28.8px;
          text-align: left;
          color: #3bb77e;
          margin-bottom: 18px;
        }
        p {
          font-family: Lato;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          color: #7e7e7e;
          margin-bottom: 2px;
        }
        button {
          padding: 12px 20px;
          border-radius: 4px;
          box-shadow: 0px 2px 6px 0px #5897fb29;
          background: #3bb77e;
          font-family: Quicksand;
          font-size: 12px;
          font-weight: 700;
          line-height: 21.6px;
          letter-spacing: 0.5px;
          text-align: center;
          color: #fff;
          display: flex;
          align-items: center;
          gap: 6px;
          cursor: pointer;
          margin-top: 24px;
          svg {
            font-size: 18px;
          }
          transition: 0.3s;
          &:active {
            transform: scale(0.9);
          }
        }
      }
    }
    .contact {
      display: flex;
      justify-content: space-between;
      max-width: 1400px;
      margin: 0 auto;
      margin-bottom: 50px;
      gap: 20px;
      form {
        max-width: 900px;
        width: 100%;
        h4 {
          font-family: Quicksand;
          font-size: 20px;
          font-weight: 700;
          line-height: 24px;
          text-align: left;
          color: #3bb77e;
          margin-bottom: 10px;
        }
        h3 {
          font-family: Quicksand;
          font-size: 40px;
          font-weight: 700;
          line-height: 48px;
          text-align: left;
          color: #253d4e;
          margin-bottom: 10px;
        }
        p {
          font-family: Lato;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          color: #b6b6b6;
          margin-bottom: 30px;
        }
        .inp {
          display: flex;
          align-items: center;
          gap: 24px;
          width: 100%;
          margin-bottom: 20px;
          input {
            font-family: Lato;
            width: 100%;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;
            color: #838383;
            padding: 22px;
            border: 1px solid #ececec;
            border-radius: 10px;
            ::placeholder {
              font-family: Lato;
              font-size: 16px;
              font-weight: 400;
              line-height: 19.2px;
              text-align: left;
            }
          }
        }
        textarea {
          width: 100%;
          border: 1px solid #ececec;
          resize: none;
          height: 200px;
          border-radius: 10px;
          margin-bottom: 37px;
          outline: none;
          padding: 20px;
        }
        button {
          padding: 21px 40px;
          border-radius: 10px;
          background: #253d4e;
          font-family: Quicksand;
          font-size: 17px;
          font-weight: 500;
          line-height: 24px;
          text-align: center;
          color: #fff;
          cursor: pointer;
          transition: 0.3s;
          &:active {
            transform: scale(0.9);
          }
        }
      }
      img {
        max-width: 385px;
        max-height: 400px;
      }
    }
  }
  @media screen and (max-width: 1000px) {
    .wrapper {
      flex-direction: column;
      .col1 {
        text-align: center;
        max-width: 600px;
      }
      .col2 {
        max-width: 600px;
      }
    }
    .contact {
      flex-direction: column;
      justify-content: center;
      img {
        display: none;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .about__content {
      .office {
        flex-direction: column;
        .card {
          button {
            padding: 8px 20px;
          }
        }
      }
      .contact {
        form {
          h3 {
            margin-top: 10px;
            font-size: 32px;
            text-align: center;
          }
          h4 {
            text-align: center;
          }
          p {
            font-size: 14px;
            text-align: center;
          }
          button {
            padding: 10px 20px;
            margin: 20px auto;
          }
          textarea {
            height: 200px;
          }
          .inp {
            input {
              padding: 14px 12px;
            }
          }
        }
      }
    }
  }
}
.navigate {
  padding: 23px 0;
  border-bottom: 1px solid #ececec;
  ul {
    display: flex;
    align-items: center;
    gap: 10px;
    li {
      font-family: Quicksand;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      text-align: left;
      color: #7e7e7e;
      cursor: pointer;
      a {
        font-family: Quicksand;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: #3bb77e;
        svg {
          color: #3bb77e;
          font-size: 16px;
        }
      }
    }
  }
}
